.root{
    background: var(--mantine-color-islamic-green-9);
}

.textBlock {
    padding-bottom: calc(var(--mantine-spacing-sm) * 2);
}

.inner {
    display: flex;
    justify-content: center;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);

    @media (max-width: $mantine-breakpoint-xs) {
        flex-direction: column
    }
}

.content {
    max-width: rem(480px);
    margin-right: calc(var(--mantine-spacing-xl) * 3);
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));

}

.title {
    color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
    font-family: "Greycliff CF",
    var(--mantine-font-family);
    font-size: rem(44px);
    line-height: 1.2;
    font-weight: 900;
}

.highlight {
    position: relative;
    background-color: var(--mantine-color-blue-light);
    border-radius: var(--mantine-radius-sm);
    padding: rem(4px) rem(12px);
}